h1.leftMargin {
    float: left;
    margin-left: 20%;
}

h2.gunNinjaMargin {
    float: left;
    margin-left: 20%;
    margin-right: 2%
}

button.nav {
    float: right;
    width: 10%;
    height: 5em;
    background-color: darkorange;
    color: white;
    border: 0 solid;
    border-radius: 10px;
    font-size: 1em;
}

img.logoMargin {
    float: left;
    width: 10%;
    height: auto;
    margin-left: 20%;
    margin-right: 2%;
    border-radius: 20%;
}

img.table {
    width:100%;
}